<!-- Se necesita colocar nmobre para navegacion a esta pagina -->
@page "/countries/create"
<!-- Inyecciones necesarias -->
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Crear País</h3>
<CountryForm @ref="_countryForm" Country="_country" OnValidSubmit="Create" ReturnAction="Return" />

@code {
    // En formulario para crear, se crea el objeto
    private Country _country = new();

    // Referenciar las funciones del CountryForm
    private CountryForm? _countryForm;

    private async Task Create()
    {
        var httpResponse = await repository.Post("/api/countries", _country);
        if (httpResponse.Error)
        {
            var message = await httpResponse.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }

        Return();
    }

    private void Return()
    {
        _countryForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/countries");
    }
}
